<div class="col-md-4 mx-auto">

    {{#each storyErrors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}

    <div class="card text-left">
        <div class="card-header">
            <h3>Edit Story</h3>
        </div>
        <div class="card-body">
            <form action="/admin/story/edit/{{id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="story_sprintId">SELECT SPRINT</label>
                    <select required class="form-control" name="story_sprintId" id="story_sprintId">
                        <option {{ selected sprintId "5fb42492a62def1daaa62a27" }} value="5fb42492a62def1daaa62a27">Sprint 1</option>
                        <option {{ selected sprintId "5fb42492a62def1daaa62a28" }} value="5fb42492a62def1daaa62a28">Sprint 2</option>
                        <option {{ selected sprintId "5fb42492a62def1daaa62a29" }} value="5fb42492a62def1daaa62a29">Sprint 3</option>
                        <option {{ selected sprintId "5fb42492a62def1daaa62a30" }} value="5fb42492a62def1daaa62a30">Sprint 4</option>
                        <option {{ selected sprintId "5fb42492a62def1daaa62a31" }} value="5fb42492a62def1daaa62a31">Sprint 5</option>
                        <option {{ selected sprintId "5fb42492a62def1daaa62a32" }} value="5fb42492a62def1daaa62a32">Sprint 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="story_userId">SELECT USER</label>
                    <select required class="form-control" name="story_userId" id="story_userId">
                        <option {{ selected userId "5fb42492a62def1daaa62a27" }} value="5fb42492a62def1daaa62a27">User 1</option>
                        <option {{ selected userId "5fb42492a62def1daaa62a28" }} value="5fb42492a62def1daaa62a28">User 2</option>
                        <option {{ selected userId "5fb42492a62def1daaa62a29" }} value="5fb42492a62def1daaa62a29">User 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="story_priority">SELECT PRIORITY</label>
                    <select required class="form-control" name="story_priority" id="story_priority">
                        <option {{ selected priority "HIGH" }} value="High">High</option>
                        <option {{ selected priority "MEDIUM" }} value="Medium">Medium</option>
                        <option {{ selected priority "LOW" }} value="Low">Low</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="story_name" name="story_name" required class="form-control"
                        placeholder="Name" value='{{ name }}' />
                </div>
                <div class="form-group">
                    <textarea id="story_description" name="story_description" required class="form-control"
                        placeholder="Description">{{ description }}</textarea>
                </div>
                <div class="form-group">
                    <textarea id="story_acceptanceCriteria" name="story_acceptanceCriteria" required
                        class="form-control" placeholder="Aceptance Criteria">{{ acceptanceCriteria }}</textarea>
                </div>
                <div class="form-group">
                    <label for="story_storyPoints">STORY POINTS</label>
                    <select required class="form-control" name="story_storyPoints" id="story_storyPoints">
                        <option {{ selected storyPoints "1" }} value="1">1</option>
                        <option {{ selected storyPoints "2" }} value="2">2</option>
                        <option {{ selected storyPoints "3" }} value="3">3</option>
                        <option {{ selected storyPoints "5" }} value="5">5</option>
                        <option {{ selected storyPoints "8" }} value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="story_progress" name="story_progress" required class="form-control"
                        placeholder="Progress" value="{{ progress }}" />
                </div>
                <div class="form-group">
                    <label for="story_startDate">Start Date:</label>
                    <input type="date" id="story_startDate" name="story_startDate" value="{{ startDate }}" min="2015-01-01"
                        max="2040-12-31" />
                </div>
                <div class="form-group">
                    <label for="story_dueDate">Due Date:</label>
                    <input type="date" id="story_dueDate" name="story_dueDate" value="{{ dueDate }}" min="2015-01-01"
                        max="2040-12-31" />
                </div>
                <div class="form-group">
                    <label for="story_status">Status:</label>
                    <select name="story_status" id="story_status" class="form-control">
                        <option {{ selected status "1" }} value="1">Active</option>
                        <option {{ selected status "0" }} value="0">Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>